
/* next-admin-panel/src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 1.5;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

